<!DOCTYPE html>
<html>
  <head>
    <title>Blog On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <span class="nav-left">
        <div class="nav-item"><%= link_to "Blog On Rails", root_path%></div>
      </span>

      <span class="nav-right">
        <div class="nav-item"><%= link_to "Home", root_path %></div>
        <div class="nav-item"><%= link_to "New Post", new_post_path %></div>
      </span>
    </nav>
    
    

    <% flash[:notice] || flash[:alert] %>
    <%= yield %>
  </body>
</html>
