<%- include("../../partials/header")%>

<% for (let record of data) { %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="record.logoUrl" alt="cohort_img">
    <h5 class="card-title"><%= record.name %></h5>
    <p class="card-text"><%= record.members %></p>
  </div>
  <a href="/cohorts/<%= record.id %>"><button>Show Cohort</button></a>
</div>
<% } %>
<%- include("../../partials/footer")%>