<h1>Change Password</h1>

<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @user, local: true do |form| %>
    <div>
        <%= form.label :current_password%>
        <%= form.password_field :current_password%>
    </div>
    <div>
        <%= form.label :new_password%>
        <%= form.password_field :password%>
    </div>
    <div>
        <%= form.label :password_confirmation%>
        <%= form.password_field :password_confirmation%>
    </div>
    <%= form.submit%>
<% end %>