<h1>Edit Profile</h1>

<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
        <% end %>
    <ul>
<% end %>

<%= form_with model: @user, local: true do |form| %>
    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>
    <div>
        <%= form.label :email%>
        <%= form.email_field :email%>
    </div>
    <%= form.submit%>
<% end %>